/* .gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}
.montserrat-semi-bold {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
} */
